@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

body, html {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  background-color: var(--blue);
}

a {
  text-decoration: none;
}

button {
  color: #fff !important; /* Desculpe pelo uso de !important, tive alguns problemas breves com o vuetify, e no momento foi a solução mais rapida. */
  margin: 20px 0px;
}

.v-card {
  padding: 20px;
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
}